[package]
name = "mcp-rs"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
rmcp = { version = "0.14.0", features = ["server", "transport-io"] }
serde = "1.0.228"
serde_json = "1.0.149"
tokio = { version = "1.49.0", features = ["full"] }
